<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roshambo</title>
    <link rel="stylesheet" href='/style.css'
  </head>
  <body>
    <nav>
      <ul>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about_us">About Us</a></li>
          </ul>
        </nav>

      </ul>
    </nav>
    <%= yield %>
  </body>
</html
